services:
  # Definition of the base image
  base-builder: &base_config
    build: .
    image: cross-builder:latest  # <--- All services will use the same image
    volumes:
      - .:/workspace

  jna-c:
    <<: *base_config
    command: ["jna", "c"]
    environment:
      - LIB_NAME=myLibJNA_C

  jna-cpp:
    <<: *base_config
    command: ["jna", "cpp"]
    environment:
      - LIB_NAME=myLibJNA_CPP

  jni-c:
    <<: *base_config
    command: ["jni", "c"]
    environment:
      - LIB_NAME=myLibJNI_C

  jni-cpp:
    <<: *base_config
    command: ["jni", "cpp"]
    environment:
      - LIB_NAME=myLibJNI_CPP
